@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&family=Bebas+Neue&display=swap');


@font-face {
    font-family: Barlow, sans-serif, cursive;
    src: url("fontes/Barlow-Italic.ttf") format('opentype');
    font-weight: normal;
}

:root {
    --cor0:#E6A5B3;
    --cor1:#BB93C3;
    --cor2:#78509C;
    --cor3:#EEE52C;
  
    --fonte-padrao: Barlow, sans-serif, cursive;
    --fonte-destaque:Barlow, cursive;
    --font-android: 'Barlow', cursive;

}